﻿@model Core_clientes.Models.Cliente

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cliid }) |
    <a asp-action="Index">Back to List</a>
</div>
