﻿@model IEnumerable<Core_clientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <i class=" fa fa-search"></i>
        <input type="search" placeholder=" Ingresa Nombre o Email..." name="CliSearch"
               value="@ViewData["GetClienteDetail"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Cliid }, new { @class = "btn betn-primary"}) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.Cliid }, new { @class = "btn btn-success"}) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Cliid },new { @class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
